@media screen and (min-width: 880px) and (max-width: 1700px) {

  .about{
    .row{
      justify-content: flex-start;
      align-items: flex-end;
    }
    background: url("../img/about/photo-md.png") bottom right no-repeat;
    height: 768px;
    &__image{
      display: none;
    }
    &__text{
      flex-basis: 50%;
      height: 637px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .btn_orange{
        max-width: 320px;
      }

    }
    &__name{
      text-align: left;
      font-size: 54px;
      margin-bottom: 23px;
    }
    &__desc{
      text-align: left;
      font-size: 25px;
      margin-bottom: 45px;
    }
  }
  .about-price{
    &__block{
      h2{
        font-size: 45px;
        line-height: 60px;
      }
      p{
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}