@import "fonts";
@import "icons";

* {
  font-family: Roboto, sans-serif;

}

body, html {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container{
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  @media screen and (min-width: 577px){
    width: 540px;
  }
  @media screen  and (min-width: 769px){
    width: 720px;
  }
  @media screen and (min-width: 961px){
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.btn {
  border: none;
  background: none;
  padding: 20px 0;
  width: 100%;
  text-align: center;

  &_orange {
    background-color: #ff4e2e;
    color: white;
    font-size: 16px;
  }

  &_white {
    border: 1px solid #FF5E79;
    background-color: white;
    color: #FF6375;
  }
}


.about {
  .container{
    width: 100%;
    height: 100%;
  }
  .row{
    height: 100%;
  }
  position: relative;
  @media screen and (min-width: 880px) {
    background: url("../img/about/photo-md.png") bottom right no-repeat;
    height: 768px;

    .container-fluid {
      height: 100%;

      .row {
        height: 100%;
      }
    }
  }
  @media screen and (min-width: 1024px){
    background: url("../img/about/photo-lg.png") bottom right no-repeat;
    height: 768px;
  }

  .float-text {
    animation-name: zoom;
    animation-duration: 10000ms;

    &_item {
      position: absolute;
      font-size: 30px;
      font-weight: bold;
      top: 0;
      left: 0;
      transition: all 1s;

      background: linear-gradient(0.48deg, #FF8F5A 2.02%, #FF2F96 97.98%, #FF2F96 97.98%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0B2349;
      display: table;
      margin: 20px auto;

      &:nth-child(1) {
        top: 100px;
        left: 80px;
        transform: rotate(15deg);
      }

      &:nth-child(2) {
        top: 300px;
        left: 150px;
        transform: rotate(15deg);
      }

      &:nth-child(3) {
        top: 638px;
        left: 147px;
        transform: rotate(-15deg);
      }

      &:nth-child(4) {
        top: 100px;
        left: 50vw;
        transform: rotate(-15deg);
      }

      &:nth-child(5) {
        top: 497px;
        left: 50vw;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(24deg);
      }
    }
  }

  &__image {
    width: 100%;
    height: 580px;
    background: url("../img/about/photo-sm.png") bottom no-repeat;
    background-size: contain;
    margin-bottom: 18px;
    @media screen and (min-width: 577px) {
      background: url("../img/about/photo-lg.png") bottom right no-repeat;
      background-size: contain;
    }
    @media screen and (min-width: 880px){
      display: none;
    }
  }

  &__text {
    padding: 0 20px;
    height: 100%;
    @media screen and (min-width: 880px) {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .btn_orange{
        max-width: 320px;
      }
    }
    @media screen and (min-width: 1024px){
      flex-basis: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      .btn_orange{
        max-width: 320px;
      }
    }
  }

  &__name {
    color: #1f1f24;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 13px;
    font-weight: bold;
    @media screen and (min-width: 880px){
      text-align: left;
      font-size: 54px;
      margin-bottom: 23px;
    }
    @media screen and (min-width: 1024px){
      text-align: left;
      font-size: 80px;
      margin-bottom: 23px;
    }
  }

  &__desc {
    width: 100%;
    text-align: center;
    opacity: 0.93;
    color: #8993ad;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-bottom: 26px;
    @media screen and (min-width: 880px){
      text-align: left;
      font-size: 25px;
      margin-bottom: 45px;
    }
    @media screen and (min-width: 1024){
      text-align: left;
      font-size: 25px;
      margin-bottom: 45px;
    }
  }
}

.price {
  background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  color: white;
  padding: 50px 0;
  position: relative;
  @media screen and (min-width: 1024px){
    background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
  }

  .float-text {
    animation-name: zoom;
    animation-duration: 10ms;

    &_item {
      position: absolute;
      font-size: 30px;
      font-weight: bold;
      top: 0;
      left: 0;
      transition: all 1s;
      color: white;
      display: table;
      margin: 20px auto;

      &:nth-child(1) {
        top: 100px;
        left: 80px;
        transform: rotate(15deg);
      }

      &:nth-child(2) {
        top: 300px;
        left: 150px;
        transform: rotate(15deg);
      }

      &:nth-child(3) {
        top: 100px;
        left: 1400px;
        transform: rotate(-15deg);
      }

      &:nth-child(4) {
        top: 100px;
        left: 50vw;
        transform: rotate(-15deg);
      }

      &:nth-child(5) {
        top: 497px;
        left: 50vw;
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(24deg);
      }
    }
  }

  &__block {
    padding: 0 20px;

    h2 {
      font-size: 28px;
      line-height: 40px;
      @media screen and (min-width: 880px){
        font-size: 45px;
        line-height: 60px;
      }
      @media screen and (min-width: 1024px){
        font-size: 45px;
        line-height: 60px;
      }
    }

    p {
      line-height: 30px;
      /* Text style for "*," */
      font-size: 20px;
      @media screen and (min-width: 880px){
        font-size: 20px;
        line-height: 30px;
      }
      @media screen and (min-width: 1024px){
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.features {
  padding: 100px 0;

  button {
    max-width: 272px;
  }
}

.portfolio {
  padding: 100px 0;

  .arrow {
    margin-bottom: 20px;
    cursor: pointer;

    img {
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
    }

    &:hover {
      img {
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.08)) drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.08));
      }
    }
  }

  button {
    max-width: 272px;
  }
}

.footer {
  padding: 80px 0;

  button {
    max-width: 250px;
  }

  &__icons {
    margin-top: 20px;

    .icon {
      margin: 0;
      font-size: 22px;
      color: #8993ad;
    }
  }

  &__socials {
    margin-top: 20px;

    .social {
      display: inline-block;
      margin-right: 15px;
      width: 55px;
      height: 55px;
      background-image: url(../img/footer/icons.png);
      background-repeat: no-repeat;
      background-size: 300px 300px;

      &:nth-child(1) {
        background-position: -228px -228px;
      }

      &:nth-child(2) {
        background-position: -17px -17px;
      }

      &:nth-child(3) {
        background-position: -157px -162px;
      }

      &:nth-child(4) {
        background-position: -17px -91px;
      }
    }
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}