$sm-width:576px;
$md-width:768px;
$lg-width:992px;
$xl-width:1200px;

$main-text-color-dark: #1f1f24;
$main-text-color-light:  #8993adee;

* {
  font-family: Roboto, sans-serif;

}

body, html {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container{
  padding: 0 20px;
  @media screen and (min-width: $lg-width){
    padding: 0 40px;
    max-width: 1024px;
  }
  @media screen and (min-width: $xl-width){
    padding: 0 15px;
    max-width: 1260px;
  }
}

.row{
  margin: 0;
}
